/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h2 {
    text-align: center;
}

#chat-box {
    background: white;
    border: 1px solid #ccc;
    height: 300px;
    width: 400px;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}

input {
    width: 300px;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
} */





/* Minimal Style  */

pre {
    background: #b8d7dd;
    padding: 10px;
    border: 1px solid #ddd;
}











